/.env

/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles/

.DS_Store
._.DS_Store
._*

/data/*
!/data/**/.gitkeep

/php/*
!/php/**/.gitkeep
!/php/phpinfo.php

/tmp/*
!/tmp/.gitkeep

/*.log
/log/*
!/log/.gitkeep


/*.sql
